* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-family: Roboto , sans-serif;
}

body {
    background-color: rgb(232, 237, 237);;
}

.card-container {
    display: flex;
    background-color: #FFFFFF;
    width: 600px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.26);
    overflow: hidden;
}


.card-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.card-image {
    background-image: url(https://placekitten.com/300/200);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
}

.card-space-between-text {
    margin-right: 12px;
}

.card-title {
    font-size: 36px;
}

.card-icons {
    width: 16px;
    pointer-events: none; 
}

.card-button {
    width: 100px;
    height: 44px;
    background: #779CAB;
    border-radius: 8px;
    border: 2px solid black;
    font-weight: 700;
    color: black;
    font-size: 20px;
    cursor: pointer;
    margin-left: 88px;
}

.card-bottom-text {
    font-weight: 500;
}
